---
import AboutHeroImage from "../assets/photo1-dt.jpg";
import Layout from "../layouts/Page.astro";
import Calendar, { type CalendarEvent } from "../components/Calendar.astro";
import { events, documents } from "../consts";
import DocumentList, { type Document } from "../components/DocumentList.astro";
export const prerender = false;
---

<Layout
    title="Welcome"
    description="Stonnal & Shenstone Camera Club's Home Page"
    pubDate={new Date("01 September 2025")}
    heroImage={AboutHeroImage}
    heroImageCaption="By Duaine Taylor, SSCC member"
    heroImageCaptionColour="white"
>
    <h3>Next event</h3>
    <Calendar
        events={events}
        maxEvents={1}
        defaultView="list"
        hideViewToggle={true}
    />

    <p>
        We meet regularly. See our <a href="/schedule">event schedule</a> to see
        what's coming up, or come along to one of our <a
            href="/regular-meetings">regular meetings</a
        >. You can just turn up. We look forward to seeing you!
    </p>

    <h3>About us</h3>
    <p>
        Welcome to the the Midlands' new and vibrant photography club, where
        everyone is invited to explore and learn the art of photography.
    </p>
    <p>
        Our welcoming community brings together enthusiasts and beginners alike,
        united by a shared passion for capturing moments and developing creative
        skills.
    </p>
    <p>
        Whether picking up a camera (or camera phone!) for the first time or
        seeking new inspiration, all are welcome at SSCC. Click <a
            href="/join-us">Join</a
        > to learn how to get involved.
    </p>
    <h3>Contact us</h3>
    <p>
        You can reach us at <a href="mailto:hello@sscc.org.uk"
            >hello@sscc.org.uk</a
        >. Please remember that we are a volunteer-run club and so it may take a
        few days to respond.
    </p>

    <h3>Key docs</h3>
    <p>These documents are coming soon.</p>
    <DocumentList
        documents={documents}
        categories={["Club documents"]}
        debug={false}
    />
</Layout>
